:root {
    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);
    --color-grey500: hsl(234, 12%, 34%);
    --color-grey400: hsl(212, 6%, 44%);
    --color-white: hsl(0, 0%, 100%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 100%;
}

body {
    margin: 0;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    color: var(--color-grey500);
    line-height: 1.4;
}

.container {
    flex: 1;
}

h1 {
    font-size: 1.55rem;
}

h1 span {
    display: block;
    font-weight: 200;
}

.cards {
    display: grid;
    gap: 2rem;
    margin-top: 2rem;
}

.center {
    display: grid;
    gap: 2rem;
}

.card {
    text-align: left;
    padding: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(92, 91, 91, 0.2);
    border-top: 4px solid black;
    border-radius: 5px;
}

.iconCard {
    display: block;
    margin-left: auto;
}

.cyan {
    border-color: var(--color-cyan);
}

.red {
    border-color: var(--color-red);
}

.orange {
    border-color: var(--color-orange);
}

.blue {
    border-color: var(--color-blue);
}

@media (min-width: 1440px) {
    .cards{
        display: flex;
        justify-content: center;
        align-items: center;
    }   
    .card {
        width: 28rem;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
